* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      font-family: Arial, sans-serif;
    }
header {
    padding: 25px;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid gray;
}
header h1 {
    text-align: center;
    color: darkblue;
}
main {
    flex: 1;
    padding: 34px 45px;
}
section {
   
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}
section h3 {
    color: #5c5b5b;
    font-size: 18px;
}
section p {
    font-size: 20px;
}
footer {
    background-color: orange;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
}
footer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

